.homePage{
    display: flex;
    height: 100%;

    .textContainer{
        flex:3;

        .wrapper{
        padding: 100px;
        }
    }

    .imgContainer{
        flex: 2;
        background-color: #fcf5f3;
        position: relative;

        img{
            width: 105%;
            position: absolute;
            right: 0;
        }
    }
}